.Modal {
  position: fixed;
  z-index: 500;
  background-color: white;
  width: 70%;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px black;
  padding: 16px;
  left: 15%;
  box-sizing: border-box;
  transition: all 0.4s ease-out;
  text-align: center;
}
.Modal ul {
  padding: 0;
  list-style: none;
}
.Modal p {
  margin: 0;
}
.OrderBtn {
  display: flex;
  padding: 3px;
  box-sizing: border-box;
  align-items: center;
}
@media (min-width: 600px) {
  .Modal {
    width: 500px;
    left: calc(50% - 250px);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
