.CheckoutSummary {
  margin: auto;
  text-align: center;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 600px) {
  .CheckoutSummary {
    width: 500px;
  }
}
